.form-signin {
  width: 100px;
  padding: 15px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background: #d4dbe6;
}

img {
  border-radius: 5px 0 0 5px;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
} */

/* .form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */